<header>
  <div class="row">
    <div class="col-md-3 align-self-center text-center">
      <a href="{{ site.baseurl }}/">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/logos/sub-brand.png" width="192">
      </a>
    </div>
    <div class="col-9 align-self-center">
      <a class="site-title-link" href="{{ collection.relative_url | relative_url }}">
        <h1 class="site-title"> {{ include.name | default: "Name not set in include header.html" }} </h1>
      </a>
      <h6 class="text-muted"> {{ include.description | default: "Description not set in include header.html" }} </h6>
    </div>
  </div>
</header>
