---
---

/*****************************************************************************/
/**************************  IMPORTS   ***************************************/
/*****************************************************************************/
@import "bootstrap/scss/bootstrap";
@import "rouge";    // Syntax highlighting



/*****************************************************************************/
/********************  GLOBAL VARIABLES   ************************************/
/*****************************************************************************/
// DEFAULT COLOURS
$color-primary:         orange;
$color-secondary:       black;
$color-img-border:       #666666;
$color-error:            #bd2c00;
$color-inset-bg:         #eeeeee;
$color-inset-border:     #aaaaaa;
$color-codeblock-bg:     #eef;
$color-codeblock-border: #d5d5e9;

// ICONS
$icon-objective: url('../icons/glyphicons-333-certificate.png');
$icon-note: url('../icons/glyphicons-346-hand-right.png');
$icon-finished: url('../icons/glyphicons-279-birthday-cake.png');
$icon-next-link: url('../icons/glyphicons-174-play.png');
$icon-warning: url('../icons/glyphicons-79-warning-sign.png');
$icon-challenge: url('../icons/glyphicons-195-question-sign.png');
$icon-solution: url('../icons/glyphicons-242-flash.png');




/*****************************************************************************/
/*****************  OVERIDE BOOTSTRAP STYLING ********************************/
/*****************************************************************************/
.container-fluid {
  padding: 0 1.8rem;
  //max-width: 1000px;
  max-width: 75vw;
  font-family: Helvetica, Arial, sans-serif;
}

.navbar {
  margin-top: 1rem;
  padding-bottom: 0rem;
}

@mixin headingStyle($color, $font-size, $letter-spacing){
  font-weight: 300;
  margin: 1.8rem 0rem 1.8rem;
  color: $color;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
}

h1  { @include headingStyle($color-primary, 3rem, -0.12rem); }
h2  { @include headingStyle($color-secondary, 3rem, -0.12rem); }
h3  { @include headingStyle($color-primary, 2.5rem, -0.08rem); }
h4  { @include headingStyle($color-secondary, 2rem, -0.06rem); }
.site-title  { @include headingStyle($color-secondary, 3rem, -0.12rem);}
.site-title-link { color: $color-secondary !important; }    // Overide default blue underline for site-title

pre {
  border: 0.1rem solid $color-codeblock-border;
  background-color: $color-codeblock-bg;
  padding-left: 0.5rem;
}

// Set default img style for lesson content to have border, be responsive (max-width: 100%, heigh: auto)
// And fill available screen space
// Only apply to the content of the module itself (otherwise affects headers/footers)
.module-content img {
  @include img-fluid;
  border: solid 0.15rem $color-img-border;
  width: 100%;
}

// Force solution buttons to display on newline
.btn-info {
  display: block;
  margin: 0.8rem 0 0.8rem 0;
}

.overview-table{
  ul {
  padding-left: 1rem;
}
}

/*****************************************************************************/
/*****************  CUSTOMISED CLASSES (OBJECTIVES, NOTE, ERROR ETC) *********/
/*****************************************************************************/

// Setup a general structure using a SASS mixin
@mixin highlight-base($line-color, $text-color, $icon) {
  padding: 0.8rem;
  padding-left: 4rem;
  border-left: solid 0.3rem $line-color;
  background-image: $icon;
  background-repeat: no-repeat;
  background-position: 0.75rem 0.75rem;
  color: $text-color;

  ul, ol {
    list-style-type: square;
  }
}

// Invoke the mixin and customise as required
.objective { @include highlight-base($color-primary, $color-primary, $icon-objective); }
.note { @include highlight-base($color-primary, $color-secondary, $icon-note); }
.finished { @include highlight-base($color-primary, $color-secondary, $icon-finished); }
.next-link { @include highlight-base($color-primary, $color-secondary, $icon-next-link); }
.warning { @include highlight-base($color-error, $color-error, $icon-warning); }



/*****************************************************************************/
/**********************  CUSTOMISED INSETS ***********************************/
/*****************************************************************************/


@mixin insetTile($text-color, $icon, $icon-padding) {
  border: solid 0.14rem $color-inset-border;
  background-color: $color-inset-bg;
  padding: 0.8rem;

  h1, h2, h3, h4, h5, h6 {
    @include headingStyle($color-primary, 2.5rem, -0.08rem);
    margin: 0.8rem 0 0.8rem;
    padding-left: $icon-padding;
    background-image: $icon;
    background-repeat: no-repeat;
    background-position: 0.8rem 0.8rem;
  }
}

// Invoke the mixin and customise as required
.inset { @include insetTile($color-primary, none, 0); }    // plain inset
.challenge { @include insetTile($color-primary, $icon-challenge, 4.2rem); }    // plain inset


/*****************************************************************************/
/**********************  CUSTOMISED CODE BLOCKS ******************************/
/*****************************************************************************/

@mixin codeblock-base($sidebar-color) {
  border-left: solid 0.3rem $sidebar-color;
  border-radius: 0.3rem 0 0 0.3rem;
}

.source { @include codeblock-base($color-primary); }
.output { @include codeblock-base($color-secondary); }
.error  { @include codeblock-base($color-error); }
