<!DOCTYPE html>
<html lang="en">
<html>

  {% include head.html %}

    <body>
      <div class="container-fluid">
        {% include header.html %}
      </div>

      <hr/>
      <div class="container-fluid">
        {{ content }}

        {% if page.show-outline %}
        <h1>Outline</h1>
        Shove an outine table here.
        <table class="table table-striped table-responsive table-hover">
          {% assign module_number = 0 %}
          <thead>
            <tr>
              <th>Module Number</th>
              <th>Name</th>
              <th>Objectives</th>
            </tr>
          </thead>
          {% for module in site.modules %}
          <tr>
            <td> {{ module_number }} </td>
            <td> <a href="{{ module.url | relative_url }}"> {{ module.title }} </a> </td>
            <td> Something something </td>
          </tr>

          {% endfor %}
        </table>
        {% endif %}
      </div>

      <hr/>

      <div class="container-fluid">
        {% include footer.html %}
      </div>

    </body>
</html>
