<!DOCTYPE html>
<html lang="en">

<html>
  {% assign collection =  site.collections | where: "label", page.collection | first %}
  {% include head.html %}

    <body>
      <div class="container-fluid">
        {% include header.html name=collection.title description=collection.description %}
        {% include navbar.html %}
      </div>

      <hr/>
      <div class="container-fluid">
        <h1 class="site-title">{{ page.title }}</h1>
        {% if page.show-author-rev %}
          <h4 class="text-muted"> {{ page.author-rev }} </h6>
        {% endif %}
        {{ content }}

        {% if page.show-outline-table %}
          <h1>Outline</h1>

          <table class="table table-striped table-hover table-responsive overview-table">
            {% assign module_number = 0 %}
            <thead>
              <tr>
                <th scope="col" style="width: 10%">Module Number</th>
                <th scope="col" style="width: 20%">Name</th>
                <th scope="col" style="width: 70%">Objectives</th>
              </tr>
            </thead>
            {% for module in collection.docs %}
              {% if module.show-in-outline and page.url != module.url %}
              <tr>
                <th scope="row"> {{ module.outline-number }} </td>
                <td> <a href="{{ module.url | relative_url }}"> {{ module.title }} </a> </td>
                <td>
                  <ul>
                   {% for objective in module.objectives %}
      	            <li>{{ objective| markdownify }}</li>
      	           {% endfor %}
                  </ul>
                </td>
              </tr>
              {% endif %}
            {% endfor %}
          </table>
        {% endif %}
      </div>

      <hr/>

      <div class="container-fluid">
        {% include footer.html licence=collection.licence%}
      </div>
    </body>
</html>
